.first
{
    background-color: slateblue;
font-size: 32px ;
color: white;
border: salmon dotted 4px;
text-align: center ;
}
.bis
{background-color: seagreen;
    font-size: 32px;
    color: white;
    border: palevioletred solid 5px;
    text-align: center;
}
.ter
{
    background-color: yellow;
    font-size: 45px;
    color: lightseagreen;
    border: double 3px tomato;
    text-align:center ;

}